<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<script>
  const savedTheme = localStorage.getItem("theme");
  const systemPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const theme = savedTheme ? savedTheme : (systemPrefersDark ? "dark" : "light");
  document.documentElement.setAttribute("data-theme", theme);
</script>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
